.st0-lego{fill:#080000;}
	.st1-lego{fill:#030202;}
	.st2-lego{fill:#FDFDFD;}
	.st0-color{fill:#FCE900;}
	.st1-color{fill:#080000;}
	.st2-color{fill:#030202;}
	.st3-color{fill:#FDFDFD;}
	.st0-simple{fill:#C5C5C5;}